@model PagedList.IPagedList<NDHSITE.Models.StaffCheckIn>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Show";
}

<div class="page-header">
    <h3 class="page-title">Danh sách nhân viên checkin</h3>

    <ol class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="#">Nhân viên checkin</a></li>
    </ol>
</div> <!-- /.page-header -->




