@model NDHSITE.Models.AspNetRole

@{
    Layout = null;
}

@if (Model != null && Model.Name == "Administrator")
{
    <li>
        <a href="/role/manager">
            <i class="fa fa-sign-out"></i>
            &nbsp;&nbsp;Quản trị
        </a>
    </li>
}
