@using NDHSITE.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<div class="page-header">
    <ol class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="#">Change pass</a></li>
    </ol>
</div>

<div class="portlet portlet-boxed">
    <div class="portlet-header">
        <h4 class="portlet-title">
            Thêm thành viên
        </h4>
    </div> <!-- /.portlet-header -->

    <div class="portlet-body">
        <p class="text-success">@ViewBag.StatusMessage</p>
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
