@model NDHSITE.Models.HaiDepartment
@{
    ViewBag.Title = "ModifyDepartment";
}

<div class="portlet portlet-boxed">
    <div class="portlet-header">
        <h4 class="portlet-title">
           Chỉnh sửa phòng ban
        </h4>
    </div> <!-- /.portlet-header -->
    <div class="portlet-body">
        <form method="post" onsubmit="if(!confirm('Chỉnh sửa phòng ban?')){return false;}">
            <div class="row">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Tên phòng ban</label>
                        <input type="text" name="Name" class="form-control" value="@Model.Name"/>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <input type="text" name="Notes" class="form-control" value="@Model.Notes"/>
                    </div>
                </div>

            </div>
            <button class="btn btn-primary" type="submit">Chỉnh sửa</button>
        </form>
    </div>
</div>


