
@{
    ViewBag.Title = "Template";
}

<div class="page-header">
    <h3 class="page-title">Quản trị</h3>

    <ol class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="#">Quản trị</a></li>
    </ol>
</div> <!-- /.page-header -->

<div class="portlet portlet-boxed">

    <div class="portlet-body">
        <div class="layout layout-main-right layout-stack-sm">
            <div class="col-md-3 col-sm-3 layout-sidebar">
                <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
                    <li class="active">
                        <a href="#tab1" data-toggle="tab">
                            Mẫu báo cáo
                        </a>
                    </li>
                    <li>
                        <a href="#tab2">
                            Thêm mẫu
                        </a>
                    </li>
                    <li>
                        <a href="#tab2" data-toggle="tab">
                            Thêm thuộc tính
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-9 layout-main">
                <div id="settings-content" class="tab-content stacked-content">
                    <div class="tab-pane fade in active">

                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

