@{
    ViewBag.Title = "ChangeNew";
}

<div class="page-header">
    <h3 class="page-title">Đổi thông tin kho</h3>

    <ol class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="#">Đổi thông tin kho</a></li>
    </ol>
</div> <!-- /.page-header -->


@if(ViewBag.MSG != null)
{
    <p>@ViewBag.MSG</p>
}

<form method="post" enctype="multipart/form-data" onsubmit="if(!confirm('Đổi thông tin kho ?')){return false;}" action="/barcode/changekho">
    <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
                <label>Kho muốn đổi</label>
                <input type="text" class="form-control" name="wOld" required/>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label>Kho mới</label>
                <input type="text" class="form-control" name="wNew" required />
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label>Danh sách mã</label>
                <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control" name="files" required />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Thay đổi</button>
            </div>
        </div>
    </div>
</form>


